<!DOCTYPE html>
<html>
    <title>Declaration</title>
    <head>
        <div style="margin-left:25%">
        <h1>Declaration</h1>
        </div>
    </head>
    <body>
        <div style="margin-left:25%">
            <p>
            I declare that this assignment is my own work in accordance with Seneca Academic Policy.
            <br> 
            No part of this assignment has been copied manually or electronically from any other source (including web sites) or distributed to other students.
            <br>
            Please update the following with your information:
            <br>
            Name: Usman Ahmad
            <br>
            Student ID: 112701206
            <br>
            Date: 2022-09-26
        </p>
        </div>
    </body>
</html>