<ul class="navig">
    <li><a href="/home">Homepage</a></li>
    <li><a href="/booksList">Books Available</a></li>
    <li><a href="/contactus">Contact Us</a></li>
    <li><a href="/surveypage">Survey</a></li>
    <li><a href="/honesty">Honesty</a></li>
    <li><a href="/info">Error Page</a></li>
</ul>